#login
{
	
	text-align : center;
}

#alert
{
	color : #BF0426;
}

.clear{ clear:both;}

body{
	background-color : #069;
}

h1, h2, h3 {
	padding-bottom: 10px;
        padding-top: 10px
}

p{
    padding-bottom: 10px;
}

.menulink {
    font-size: medium;
}
.layout {
	width: 960px; margin: auto;
}

.section
{
	background-color : #fff;
	text-align: center;
	padding : 10px;
	border-radius: 5px;
	box-shadow : 0px 0px 8px black;
	
}

.section.full {
	width: 95%;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : 10px;
	margin-top : 10px;
	padding : 10px;
}

.login {
    padding-top: 20px;
}

.bigfloating
{
	float:left;
	width: 629px;
	margin: auto;
	margin-right : 10px;
	margin-top : 10px;
}

.floating
{	
	float:left;
	width: 260px;
	margin: auto;
	margin-left : 10px;
	margin-top : 10px;
}

label.error
{ 
	color: #990000; 
	padding-left : 1em;
	padding-bottom : 1em;
}


/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}



div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}

 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 220px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}

.closed
{
    display:none;
}

.part_title
{
    background-color : #069;
    color : #fff;
}

.part_content
{
    background-color : #fff;
    border-style : solid;
    border-color : #069;
    border-width : 2px;
    margin-bottom: 5px;
}